<p><span class="label">Name: </span><%= @example_hash[:name] %></p>
<p><span class="label">Company: </span><%= @example_hash[:company] %></p>
<p><span class="label">Phone: </span><%= @example_hash[:phone] %></p>